In [3]:
import pandas as pd
from sqlalchemy import create_engine, text

In [4]:
url = 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/sysarmy_survey_2020_processed.csv'
df = pd.read_csv(url)

In [5]:
df.head()

,profile_gender,profile_age,work_country,work_province,profile_years_experience,work_years_in_company,work_years_in_current_position,work_people_in_charge_of,profile_studies_level,profile_studies_level_state,...,work_has_violence_situations,profile_sexual_orientation,profile_has_disabilities,profile_has_disabilities_hiring_difficulties,company_employee_number,company_main_activity,company_recommended,company_diversity_policies,company_extra_benefits,company_best_companies_city
0,Mujer,26,Argentina,Ciudad Autónoma de Buenos Aires,3.0,3.0,3.0,0,Universitario,En curso,...,En mi trabajo actual,Homosexual,NaN,NaN,501-1000,Servicios / Consultoría de Software / Digital,7,2,"Capacitaciones y/o cursos, Comidas pagas / sub...",NaN
1,Hombre,29,Argentina,Corrientes,5.0,2.0,2.0,4,Universitario,En curso,...,Jamás,Heterosexual,Visual,No,201-500,Otras industrias,8,9,"Horarios flexibles, Stock options / RSUs, Viát...",NaN
2,Mujer,22,Argentina,Ciudad Autónoma de Buenos Aires,2.0,0.0,0.0,0,Secundario,Completado,...,En un trabajo anterior,Bisexual o queer,NaN,No,2001-5000,Otras industrias,6,9,"Clases de gimnasia online, Comidas pagas / sub...",NaN
3,Hombre,39,Argentina,Corrientes,15.0,15.0,13.0,5,Posgrado,Incompleto,...,En mi trabajo actual,Heterosexual,NaN,NaN,501-1000,Otras industrias,7,6,"Abono de celular, Capacitaciones y/o cursos, C...",NaN
4,Hombre,32,Argentina,Ciudad Autónoma de Buenos Aires,9.0,6.0,6.0,0,Universitario,En curso,...,Jamás,Heterosexual,NaN,NaN,11-50,Servicios / Consultoría de Software / Digital,6,6,"Clases de idiomas, Horarios flexibles, Vacacio...",NaN

In [6]:
df.columns

Index(['profile_gender', 'profile_age', 'work_country', 'work_province',
       'profile_years_experience', 'work_years_in_company',
       'work_years_in_current_position', 'work_people_in_charge_of',
       'profile_studies_level', 'profile_studies_level_state',
       'profile_career', 'profile_university',
       'profile_specialization_courses', 'profile_open_source_contributions',
       'profile_programming_as_hobby', 'work_role', 'tools_platform',
       'tools_programming_languages', 'tools_frameworks', 'tools_data_bases',
       'tools_qa_testing', 'tools_IDEs', 'tools_work_pc_os',
       'tools_cellphone_os', 'work_on_call_duty', 'salary_on_call_duty_charge',
       'work_on_call_duty_charge_type', 'work_contract_type',
       'salary_monthly_BRUTO', 'salary_monthly_NETO', 'salary_in_usd',
       'salary_satisfaction', 'salary_comparison_last_semester',
       'salary_has_bonus', 'salary_bonus_tied_to',
       'salary_inflation_adjustment_2020',
       'salary_percentage_inflation_adjustment_2020',
       'salary_month_last_inflation_adjustment',
       'work_has_violence_situations', 'profile_sexual_orientation',
       'profile_has_disabilities',
       'profile_has_disabilities_hiring_difficulties',
       'company_employee_number', 'company_main_activity',
       'company_recommended', 'company_diversity_policies',
       'company_extra_benefits', 'company_best_companies_city'],
      dtype='object')

In [7]:
engine = create_engine('sqlite:///sysarmy.sqlite3', echo=True)

In [8]:
df.to_sql('survey', con=engine, if_exists="replace")

2024-05-03 20:51:24,473 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-03 20:51:24,480 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("survey")
2024-05-03 20:51:24,481 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-03 20:51:24,482 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("survey")
2024-05-03 20:51:24,482 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-03 20:51:24,485 INFO sqlalchemy.engine.Engine
CREATE TABLE survey (
	"index" BIGINT,
	profile_gender TEXT,
	profile_age BIGINT,
	work_country TEXT,
	work_province TEXT,
	profile_years_experience FLOAT,
	work_years_in_company FLOAT,
	work_years_in_current_position FLOAT,
	work_people_in_charge_of BIGINT,
	profile_studies_level TEXT,
	profile_studies_level_state TEXT,
	profile_career TEXT,
	profile_university TEXT,
	profile_specialization_courses TEXT,
	profile_open_source_contributions TEXT,
	profile_programming_as_hobby TEXT,
	work_role TEXT,
	tools_platform TEXT,
	tools_programming_languages TEXT,
	tools_frameworks TEXT,
	tools_data_bases TEXT,
	tools_qa_testing TEXT,
	"tools_IDEs" TEXT,
	tools_work_pc_os TEXT,
	tools_cellphone_os TEXT,
	work_on_call_duty TEXT,
	salary_on_call_duty_charge FLOAT,
	work_on_call_duty_charge_type TEXT,
	work_contract_type TEXT,
	"salary_monthly_BRUTO" FLOAT,
	"salary_monthly_NETO" FLOAT,
	salary_in_usd TEXT,
	salary_satisfaction BIGINT,
	salary_comparison_last_semester BIGINT,
	salary_has_bonus TEXT,
	salary_bonus_tied_to TEXT,
	salary_inflation_adjustment_2020 TEXT,
	salary_percentage_inflation_adjustment_2020 FLOAT,
	salary_month_last_inflation_adjustment BIGINT,
	work_has_violence_situations TEXT,
	profile_sexual_orientation TEXT,
	profile_has_disabilities TEXT,
	profile_has_disabilities_hiring_difficulties TEXT,
	company_employee_number TEXT,
	company_main_activity TEXT,
	company_recommended BIGINT,
	company_diversity_policies BIGINT,
	company_extra_benefits TEXT,
	company_best_companies_city TEXT
)


2024-05-03 20:51:24,486 INFO sqlalchemy.engine.Engine [no key 0.00058s] ()
2024-05-03 20:51:24,494 INFO sqlalchemy.engine.Engine CREATE INDEX ix_survey_index ON survey ("index")
2024-05-03 20:51:24,495 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2024-05-03 20:51:24,653 INFO sqlalchemy.engine.Engine INSERT INTO survey ("index", profile_gender, profile_age, work_country, work_province, profile_years_experience, work_years_in_company, work_years_in_current_position, work_people_in_charge_of, profile_studies_level, profile_studies_level_state, profile_career, profile_university, profile_specialization_courses, profile_open_source_contributions, profile_programming_as_hobby, work_role, tools_platform, tools_programming_languages, tools_frameworks, tools_data_bases, tools_qa_testing, "tools_IDEs", tools_work_pc_os, tools_cellphone_os, work_on_call_duty, salary_on_call_duty_charge, work_on_call_duty_charge_type, work_contract_type, "salary_monthly_BRUTO", "salary_monthly_NETO", salary_in_usd, salary_satisfaction, salary_comparison_last_semester, salary_has_bonus, salary_bonus_tied_to, salary_inflation_adjustment_2020, salary_percentage_inflation_adjustment_2020, salary_month_last_inflation_adjustment, work_has_violence_situations, profile_sexual_orientation, profile_has_disabilities, profile_has_disabilities_hiring_difficulties, company_employee_number, company_main_activity, company_recommended, company_diversity_policies, company_extra_benefits, company_best_companies_city) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-05-03 20:51:24,654 INFO sqlalchemy.engine.Engine [generated in 0.11039s] [(0, 'Mujer', 26, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 3.0, 3.0, 3.0, 0, 'Universitario', 'En curso', 'Ingeniería en Sistemas de Información', 'UTN - Universidad Tecnológica Nacional', 'Sí, los pagó un empleador', 'No', 'Sí', 'Consultant', 'Ninguna', 'Ninguno', 'Ninguno', 'Ninguna', 'Ninguna', 'Ninguno', 'GNU/Linux', 'Android', 'No', 0.0, 'Bruto', 'Full-Time', 53000.0, 43000.0, None, 1, 1, 'No', 'No recibo bono', 'No', 0.0, 0, 'En mi trabajo actual', 'Homosexual', None, None, '501-1000', 'Servicios / Consultoría de Software / Digital', 7, 2, 'Capacitaciones y/o cursos, Comidas pagas / subvencionadas, Cuota para universidad / posgrados, Descuentos varios (Mercado Pago, Clarín 365, Club La Nación, etc), Horarios flexibles, Lactario en la oficina, Licencia de paternidad/maternidad extendida, Viáticos', None), (1, 'Hombre', 29, 'Argentina', 'Corrientes', 5.0, 2.0, 2.0, 4, 'Universitario', 'En curso', 'Ingeniería en Sistemas de Información', 'UTN - Universidad Tecnológica Nacional', 'Sí, de forma particular, Sí, los pagó un empleador', 'No', 'Sí', 'Developer', 'Docker, Google Cloud Platform/App Engine', 'HTML, Javascript, Python', 'Django, jQuery', 'Informix, MySQL, PostgreSQL', 'Ninguna', 'IPython / Jupyter, Sublime Text, Visual Studio Code', 'GNU/Linux', 'Android', 'No', 0.0, 'Bruto', 'Full-Time', 79000.0, 63000.0, None, 2, 2, 'Menos de un sueldo', 'Performance de la compañía', 'Uno', 10.0, 1, 'Jamás', 'Heterosexual', 'Visual', 'No', '201-500', 'Otras industrias', 8, 9, 'Horarios flexibles, Stock options / RSUs, Viáticos', None), (2, 'Mujer', 22, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 2.0, 0.0, 0.0, 0, 'Secundario', 'Completado', None, None, 'Sí, de forma particular, Sí, los pagó un empleador', 'No', 'Sí', 'Infosec', 'Linux, VMWare', 'Ninguno', 'Ninguno', 'Ninguna', 'Ninguna', 'Ninguno', 'Windows', 'iOS', 'No', 0.0, 'Porcentaje de mi sueldo', 'Full-Time', 160000.0, 127000.0, None, 3, 3, 'Un sueldo', 'Performance individual', 'No', 0.0, 0, 'En un trabajo anterior', 'Bisexual o queer', None, 'No', '2001-5000', 'Otras industrias', 6, 9, 'Clases de gimnasia online, Comidas pagas / subvencionadas, Descuentos varios (Mercado Pago, Clarín 365, Club La Nación, etc)', None), (3, 'Hombre', 39, 'Argentina', 'Corrientes', 15.0, 15.0, 13.0, 5, 'Posgrado', 'Incompleto', 'Licenciatura en Sistemas', 'UNNE Universidad Nacional del Nordeste', 'Sí, de forma particular, Sí, los pagó un empleador', 'Sí', 'Sí', 'SysAdmin / DevOps / SRE', 'Docker, Linux, OpenStack, VMWare, Windows Server', 'Bash/Shell, C, CSS, HTML, Java, Javascript, PHP, Python, SQL', 'jQuery, WordPress', 'Microsoft SQL Server, MySQL', 'PHPUnit', 'Eclipse, Visual Studio Code', 'GNU/Linux', 'Android', 'Sí, pasiva', 0.0, 'Bruto', 'Full-Time', 130000.0, 102000.0, None, 3, 1, 'No', 'No recibo bono', 'No', 0.0, 0, 'En mi trabajo actual', 'Heterosexual', None, None, '501-1000', 'Otras industrias', 7, 6, 'Abono de celular, Capacitaciones y/o cursos, Comidas pagas / subvencionadas, Cuota para universidad / posgrados, Horarios flexibles, Lactario en la oficina, Vacaciones flexibles (adicionales a las reglamentarias), Viáticos', None), (4, 'Hombre', 32, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 9.0, 6.0, 6.0, 0, 'Universitario', 'En curso', 'Licenciatura en Ciencias dela Computación', 'UBA - Universidad de Buenos Aires', 'No', 'No', 'Sí', 'Developer', 'Amazon Web Services', 'CSS, HTML, Javascript, SQL, TypeScript', 'Angular, Node.js', 'Amazon DynamoDB, MongoDB, MySQL', 'Jest', 'Vim', 'macOS', 'Android', 'No', 0.0, 'Porcentaje de mi sueldo', 'Full-Time', 140000.0, 106000.0, None, 1, 1, 'Menos de un sueldo', 'Performance individual', 'No', 0.0, 0, 'Jamás', 'Heterosexual', None, None, '11-50', 'Servicios / Consultoría de Software / Digital', 6, 6, 'Clases de idiomas, Horarios flexibles, Vacaciones flexibles (adicionales a las reglamentarias)', None), (5, 'Hombre', 25, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 1.0, 0.0, 0.0, 0, 'Terciario', 'Incompleto', 'Tecnicatura Superior en Programación', 'UTN - Universidad Tecnológica Nacional', 'No', 'No', 'Sí', 'Developer', 'Ninguna', 'Java, Javascript', 'Node.js, React.js, Spark', 'MySQL', 'Jest, JUnit, Postman', 'IntelliJ, Visual Studio Code', 'macOS', 'Android', 'No', 0.0, 'Bruto', 'Full-Time', 54000.0, 44000.0, None, 2, 2, 'No', 'No recibo bono', 'Uno', 15.0, 5, 'Jamás', 'Heterosexual', None, 'No', '10001+', 'Producto basado en Software', 8, 8, 'Clases de gimnasia online, Clases de idiomas, Comidas pagas / subvencionadas', None), (6, 'Hombre', 33, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 1.0, 1.0, 1.0, 0, 'Universitario', 'Incompleto', 'Ingeniería en Informática', 'UBA - Universidad de Buenos Aires', 'Sí, de forma particular, Sí, los pagó un empleador', 'Sí', 'Sí', 'Developer', 'Amazon Web Services, Docker, Linux, Serverless', 'Javascript', 'Node.js', 'MongoDB, MySQL, Redis', 'Postman', 'Visual Studio Code', 'GNU/Linux', 'Android', 'No', 0.0, 'Porcentaje de mi sueldo', 'Full-Time', 75000.0, 62400.0, None, 3, 3, 'No', 'No recibo bono', 'Dos', 8.0, 4, 'Jamás', 'Heterosexual', None, None, '51-100', 'Producto basado en Software', 7, 7, 'Capacitaciones y/o cursos, Clases de gimnasia online, Clases de idiomas, Comidas pagas / subvencionadas, Horarios flexibles, Licencia de paternidad/maternidad extendida, Vacaciones flexibles (adicionales a las reglamentarias)', 'Mercado Libre'), (7, 'Hombre', 23, 'Argentina', 'Provincia de Buenos Aires', 0.0, 0.0, 0.0, 0, 'Terciario', 'En curso', 'Tecnicatura en Programación', 'UTN - Universidad Tecnológica Nacional', 'Sí, de forma particular', 'No', 'Sí', 'Developer', 'IBM Cloud / Watson', 'Java, Javascript', 'Spring, Liferay', 'MySQL', 'Ninguna', 'Eclipse, IntelliJ, NetBeans, Notepad++', 'Windows', 'iOS', 'No', 0.0, 'Porcentaje de mi sueldo', 'Full-Time', 45000.0, 37500.0, None, 2, 2, 'No', 'No recibo bono', 'No', 0.0, 0, 'Jamás', 'Heterosexual', None, None, '11-50', 'Producto basado en Software', 8, 10, 'Ninguna de las anteriores', 'Globant, Accenture, Making Sense, Globalogic')  ... displaying 10 of 6095 total bound parameter sets ...  (6093, 'Hombre', 28, 'Argentina', 'La Pampa', 5.0, 3.0, 2.0, 0, 'Terciario', 'En curso', 'Ingeniería en Sistemas de Información', 'UNLPAM', 'Sí, los pagó un empleador', 'No', 'Sí', 'SysAdmin / DevOps / SRE', 'Amazon Web Services, Docker, Kubernetes, Linux', 'C, C++, HTML, Java, Javascript, PHP, Python, SQL', 'Symfony', 'MariaDB, MongoDB, MySQL, Neo4j, PostgreSQL, Redis', 'PHPUnit, Postman', 'Nano, PHPStorm, PyCharm, Vim, Visual Studio Code', 'GNU/Linux', 'Android', 'Sí, pasiva', 10.0, 'Neto', 'Full-Time', 86000.0, 72.0, None, 2, 1, 'No', 'No recibo bono', 'Uno', 20.0, 3, 'Jamás', 'Heterosexual', None, 'No', '51-100', 'Servicios / Consultoría de Software / Digital', 5, 7, 'Capacitaciones y/o cursos', 'Solo Nubity'), (6094, 'Hombre', 33, 'Argentina', 'GBA', 5.0, 5.0, 3.0, 0, 'Terciario', 'Incompleto', 'Analista de Sistemas', 'UAI - Universidad Abierta Interamericana', 'Sí, de forma particular', 'No', 'No', 'SysAdmin / DevOps / SRE', 'Linux, OpenStack, VMWare, Windows Server', 'Ninguno de los anteriores', 'Ninguno de los anteriores', 'Ninguna de las anteriores', 'Ninguna de las anteriores', 'Ninguno de los anteriores', 'Windows', 'iOS', 'No', 0.0, 'Neto', 'Full-Time', 85000.0, 65000.0, None, 3, 3, 'No', 'No recibo bono', 'Dos', 4.0, 7, 'Jamás', 'Heterosexual', 'no', 'No', '501-1000', 'Otras industrias', 9, 7, 'Abono de celular, Comidas pagas / subvencionadas', None)]
2024-05-03 20:51:24,711 INFO sqlalchemy.engine.Engine COMMIT

6095

In [9]:
query1 = "SELECT * FROM survey WHERE salary_monthly_NETO > 100000 LIMIT 10"
query2 = "SELECT COUNT(1) FROM survey WHERE salary_monthly_NETO > 100000"
query3 = "SELECT AVG(salary_monthly_NETO) FROM survey"
query4 = "SELECT AVG(salary_monthly_NETO) FROM survey WHERE profile_gender = 'Mujer'"
query5 = "SELECT AVG(salary_monthly_NETO) FROM survey WHERE profile_gender = 'Hombre'"
query6 = "SELECT profile_gender, AVG(salary_monthly_NETO) FROM survey GROUP BY profile_gender"
query7 = """
SELECT profile_gender, AVG(salary_monthly_NETO)
FROM survey
WHERE profile_years_experience > 5
GROUP BY profile_gender
"""
query8 = """
SELECT profile_gender, work_province, AVG(salary_monthly_NETO) as avg_salary, MAX(salary_monthly_NETO), MIN(salary_monthly_NETO), COUNT(1)
FROM survey
WHERE profile_years_experience > 5
GROUP BY profile_gender, work_province
HAVING COUNT(*) > 10
ORDER BY  AVG(salary_monthly_NETO) DESC
"""
queries = [query1, query2, query3, query4, query5, query6, query7, query8]

In [29]:
with engine.connect() as con:
      rs = con.execute(text(query1))
      df_rs = pd.DataFrame(rs.fetchall())
    #   print(query1)
      for row in rs:
          print(row)

2024-05-03 20:54:36,545 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-03 20:54:36,546 INFO sqlalchemy.engine.Engine SELECT * FROM survey WHERE salary_monthly_NETO > 100000 LIMIT 10
2024-05-03 20:54:36,546 INFO sqlalchemy.engine.Engine [cached since 158.3s ago] ()
2024-05-03 20:54:36,549 INFO sqlalchemy.engine.Engine ROLLBACK

In [30]:
df_rs

,index,profile_gender,profile_age,work_country,work_province,profile_years_experience,work_years_in_company,work_years_in_current_position,work_people_in_charge_of,profile_studies_level,...,work_has_violence_situations,profile_sexual_orientation,profile_has_disabilities,profile_has_disabilities_hiring_difficulties,company_employee_number,company_main_activity,company_recommended,company_diversity_policies,company_extra_benefits,company_best_companies_city
0,2,Mujer,22,Argentina,Ciudad Autónoma de Buenos Aires,2.0,0.0,0.0,0,Secundario,...,En un trabajo anterior,Bisexual o queer,None,No,2001-5000,Otras industrias,6,9,"Clases de gimnasia online, Comidas pagas / sub...",None
1,3,Hombre,39,Argentina,Corrientes,15.0,15.0,13.0,5,Posgrado,...,En mi trabajo actual,Heterosexual,None,None,501-1000,Otras industrias,7,6,"Abono de celular, Capacitaciones y/o cursos, C...",None
2,4,Hombre,32,Argentina,Ciudad Autónoma de Buenos Aires,9.0,6.0,6.0,0,Universitario,...,Jamás,Heterosexual,None,None,11-50,Servicios / Consultoría de Software / Digital,6,6,"Clases de idiomas, Horarios flexibles, Vacacio...",None
3,26,Hombre,24,Argentina,Ciudad Autónoma de Buenos Aires,3.0,0.0,0.0,0,Universitario,...,Jamás,Heterosexual,None,None,11-50,Producto basado en Software,10,8,"Capacitaciones y/o cursos, Horarios flexibles,...",None
4,30,Hombre,53,Argentina,GBA,30.0,10.0,10.0,5,Universitario,...,En un trabajo anterior,Heterosexual,None,None,201-500,Otras industrias,6,1,"Abono de celular, Comidas pagas / subvencionad...",None
5,33,Hombre,35,Argentina,Ciudad Autónoma de Buenos Aires,12.0,4.0,0.0,0,Universitario,...,Jamás,Heterosexual,None,No,11-50,Producto basado en Software,5,3,"Clases de idiomas, Horarios flexibles",None
6,36,Hombre,33,Argentina,Ciudad Autónoma de Buenos Aires,14.0,6.0,4.0,38,Secundario,...,Jamás,¿Qué les importa?,None,None,101-200,Servicios / Consultoría de Software / Digital,9,10,"Capacitaciones y/o cursos, Clases de idiomas, ...",None
7,39,Hombre,40,Argentina,Ciudad Autónoma de Buenos Aires,20.0,10.0,5.0,0,Universitario,...,Jamás,Heterosexual,None,None,101-200,Servicios / Consultoría de Software / Digital,5,10,"Clases de idiomas, Comidas pagas / subvenciona...",None
8,41,Hombre,35,Argentina,Ciudad Autónoma de Buenos Aires,15.0,3.0,1.5,16,Universitario,...,Jamás,Heterosexual,None,No,201-500,Producto basado en Software,9,10,"Abono de celular, Capacitaciones y/o cursos, C...","Medallia, auth0, wildlife"
9,42,Hombre,30,Argentina,Ciudad Autónoma de Buenos Aires,10.0,7.0,0.0,0,Universitario,...,Jamás,Heterosexual,None,None,5001-10000,Producto basado en Software,9,9,"Clases de gimnasia online, Clases de idiomas, ...",Mercado libre

In [31]:
with engine.connect() as con:
    for query in queries:
      rs = con.execute(text(query))
      print(query)
      for row in rs:
          print(row)

      print('\n\n')

2024-05-03 20:54:59,398 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-03 20:54:59,398 INFO sqlalchemy.engine.Engine SELECT * FROM survey WHERE salary_monthly_NETO > 100000 LIMIT 10
2024-05-03 20:54:59,399 INFO sqlalchemy.engine.Engine [cached since 181.1s ago] ()
SELECT * FROM survey WHERE salary_monthly_NETO > 100000 LIMIT 10
(2, 'Mujer', 22, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 2.0, 0.0, 0.0, 0, 'Secundario', 'Completado', None, None, 'Sí, de forma particular, Sí, los pagó un empleador', 'No', 'Sí', 'Infosec', 'Linux, VMWare', 'Ninguno', 'Ninguno', 'Ninguna', 'Ninguna', 'Ninguno', 'Windows', 'iOS', 'No', 0.0, 'Porcentaje de mi sueldo', 'Full-Time', 160000.0, 127000.0, None, 3, 3, 'Un sueldo', 'Performance individual', 'No', 0.0, 0, 'En un trabajo anterior', 'Bisexual o queer', None, 'No', '2001-5000', 'Otras industrias', 6, 9, 'Clases de gimnasia online, Comidas pagas / subvencionadas, Descuentos varios (Mercado Pago, Clarín 365, Club La Nación, etc)', None)
(3, 'Hombre', 39, 'Argentina', 'Corrientes', 15.0, 15.0, 13.0, 5, 'Posgrado', 'Incompleto', 'Licenciatura en Sistemas', 'UNNE Universidad Nacional del Nordeste', 'Sí, de forma particular, Sí, los pagó un empleador', 'Sí', 'Sí', 'SysAdmin / DevOps / SRE', 'Docker, Linux, OpenStack, VMWare, Windows Server', 'Bash/Shell, C, CSS, HTML, Java, Javascript, PHP, Python, SQL', 'jQuery, WordPress', 'Microsoft SQL Server, MySQL', 'PHPUnit', 'Eclipse, Visual Studio Code', 'GNU/Linux', 'Android', 'Sí, pasiva', 0.0, 'Bruto', 'Full-Time', 130000.0, 102000.0, None, 3, 1, 'No', 'No recibo bono', 'No', 0.0, 0, 'En mi trabajo actual', 'Heterosexual', None, None, '501-1000', 'Otras industrias', 7, 6, 'Abono de celular, Capacitaciones y/o cursos, Comidas pagas / subvencionadas, Cuota para universidad / posgrados, Horarios flexibles, Lactario en la oficina, Vacaciones flexibles (adicionales a las reglamentarias), Viáticos', None)
(4, 'Hombre', 32, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 9.0, 6.0, 6.0, 0, 'Universitario', 'En curso', 'Licenciatura en Ciencias dela Computación', 'UBA - Universidad de Buenos Aires', 'No', 'No', 'Sí', 'Developer', 'Amazon Web Services', 'CSS, HTML, Javascript, SQL, TypeScript', 'Angular, Node.js', 'Amazon DynamoDB, MongoDB, MySQL', 'Jest', 'Vim', 'macOS', 'Android', 'No', 0.0, 'Porcentaje de mi sueldo', 'Full-Time', 140000.0, 106000.0, None, 1, 1, 'Menos de un sueldo', 'Performance individual', 'No', 0.0, 0, 'Jamás', 'Heterosexual', None, None, '11-50', 'Servicios / Consultoría de Software / Digital', 6, 6, 'Clases de idiomas, Horarios flexibles, Vacaciones flexibles (adicionales a las reglamentarias)', None)
(26, 'Hombre', 24, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 3.0, 0.0, 0.0, 0, 'Universitario', 'Incompleto', 'Ingeniería en Sistemas de Información', 'UAI - Universidad Abierta Interamericana', 'Sí, de forma particular', 'Sí', 'Sí', 'Developer', 'Amazon Web Services', 'Java, Javascript, Objective-C, TypeScript', 'Node.js, React.js', 'Ninguna', 'Jest, Mocha', 'Visual Studio Code', 'macOS', 'Android', 'No', 0.0, 'Bruto', 'Full-Time', 260000.0, 200000.0, None, 4, 4, 'De uno a tres sueldos', 'Performance de la compañía', 'Uno', 15.0, 3, 'Jamás', 'Heterosexual', None, None, '11-50', 'Producto basado en Software', 10, 8, 'Capacitaciones y/o cursos, Horarios flexibles, Licencia de paternidad/maternidad extendida', None)
(30, 'Hombre', 53, 'Argentina', 'GBA', 30.0, 10.0, 10.0, 5, 'Universitario', 'En curso', 'Licenciatura en Ciencia de Datos', 'UNaB', 'Sí, de forma particular, Sí, los pagó un empleador', 'No', 'Sí', 'SysAdmin / DevOps / SRE', 'Docker, Linux, Windows Server', 'ABAP, Javascript, PHP, Python, SQL', 'Bootstrap, CodeIgniter, Django, jQuery, SAP', 'IBM Db2, MySQL, SQLite', 'PHPUnit', 'Vim, Visual Studio Code', 'GNU/Linux', 'Android', 'No', 0.0, 'Porcentaje de mi sueldo', 'Full-Time', 160000.0, 137000.0, None, 3, 1, 'Menos de un sueldo', 'Performance de la compañía', 'Uno', 8.0, 2, 'En un trabajo anterior', 'Heterosexual', None, None, '201-500', 'Otras industrias', 6, 1, 'Abono de celular, Comidas pagas / subvencionadas, Horarios flexibles, Vacaciones flexibles (adicionales a las reglamentarias)', None)
(33, 'Hombre', 35, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 12.0, 4.0, 0.0, 0, 'Universitario', 'Incompleto', 'Licenciatura en Ciencias dela Computación', 'UBA - Universidad de Buenos Aires', 'No', 'Sí', 'No', 'Data Scientist / Data Engineer', 'Amazon Web Services, Linux', 'Bash/Shell, Python', 'Flask', 'Apache Hive, Presto', 'Ninguna', 'Vim', 'GNU/Linux', 'Android', 'Sí, activa', 0.0, 'Porcentaje de mi sueldo', 'Full-Time', 268000.0, 168000.0, None, 4, 4, 'Menos de un sueldo', 'Performance individual', 'Dos', 17.0, 7, 'Jamás', 'Heterosexual', None, 'No', '11-50', 'Producto basado en Software', 5, 3, 'Clases de idiomas, Horarios flexibles', None)
(36, 'Hombre', 33, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 14.0, 6.0, 4.0, 38, 'Secundario', 'Completado', None, None, 'Sí, de forma particular, Sí, los pagó un empleador', 'No', 'Sí', 'Manager / Director', 'Amazon Web Services, Azure, Docker, Linux, Windows Server', 'Bash/Shell, Python', 'Ninguno', 'Ninguna', 'Ninguna', 'Ninguno', 'macOS', 'iOS', 'No', 0.0, 'Bruto', 'Full-Time', 196000.0, 132000.0, None, 3, 3, 'De uno a tres sueldos', 'Performance de la compañía', 'Uno', 25.0, 3, 'Jamás', '¿Qué les importa?', None, None, '101-200', 'Servicios / Consultoría de Software / Digital', 9, 10, 'Capacitaciones y/o cursos, Clases de idiomas, Horarios flexibles, Licencia de paternidad/maternidad extendida', None)
(39, 'Hombre', 40, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 20.0, 10.0, 5.0, 0, 'Universitario', 'Incompleto', 'Licenciatura en Ciencias dela Computación', 'UBA - Universidad de Buenos Aires', 'No', 'No', 'Sí', 'Architect', 'Amazon Web Services, Azure, Kubernetes, Linux, Serverless', 'Java, Javascript', 'Node.js, React.js, Spring', 'MongoDB, PostgreSQL, Redis', 'JUnit, Katalon, Postman', 'Eclipse, Visual Studio Code', 'Windows', 'Android', 'No', 0.0, 'Bruto', 'Full-Time', 174000.0, 122000.0, None, 1, 2, 'No', 'No recibo bono', 'Uno', 23.0, 6, 'Jamás', 'Heterosexual', None, None, '101-200', 'Servicios / Consultoría de Software / Digital', 5, 10, 'Clases de idiomas, Comidas pagas / subvencionadas, Horarios flexibles', None)
(41, 'Hombre', 35, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 15.0, 3.0, 1.5, 16, 'Universitario', 'Incompleto', 'Ingeniería en Informática', 'UFASTA', 'Sí, los pagó un empleador', 'Sí', 'No', 'Manager / Director', 'Amazon Web Services, Docker, Google Cloud Platform/App Engine, IBM Cloud / Watson, Kubernetes, Linux', 'Bash/Shell, Go, Python', 'Ninguno', 'Cassandra, ElasticSearch, MariaDB, PostgreSQL', 'Ninguna', 'Atom, Vim', 'macOS', 'iOS', 'Sí, pasiva', 0.0, 'Porcentaje de mi sueldo', 'Full-Time', 450000.0, 280000.0, 'Mi sueldo está dolarizado', 3, 2, 'De uno a tres sueldos', 'Performance de la compañía', 'No', 0.0, 0, 'Jamás', 'Heterosexual', None, 'No', '201-500', 'Producto basado en Software', 9, 10, 'Abono de celular, Capacitaciones y/o cursos, Clases de idiomas, Comidas pagas / subvencionadas, Estacionamiento gratuito / subvencionado, Horarios fl ... (6 characters truncated) ... s, Lactario en la oficina, Licencia de paternidad/maternidad extendida, Stock options / RSUs, Vacaciones flexibles (adicionales a las reglamentarias)', 'Medallia, auth0, wildlife')
(42, 'Hombre', 30, 'Argentina', 'Ciudad Autónoma de Buenos Aires', 10.0, 7.0, 0.0, 0, 'Universitario', 'Completado', 'Licenciatura en Informática', 'UTN - Universidad Tecnológica Nacional', 'Sí, de forma particular', 'No', 'No', 'Developer', 'Docker, Kubernetes', 'Go', 'Ninguno', 'MySQL', 'Postman, SoapUI', 'Visual Studio Code', 'macOS', 'Android', 'No', 0.0, 'Porcentaje de mi sueldo', 'Full-Time', 180000.0, 130000.0, None, 3, 2, 'Menos de un sueldo', 'Mix de las anteriores', 'Uno', 10.0, 7, 'Jamás', 'Heterosexual', None, None, '5001-10000', 'Producto basado en Software', 9, 9, 'Clases de gimnasia online, Clases de idiomas, Comidas pagas / subvencionadas, Cuota para universidad / posgrados, Descuentos varios (Mercado Pago, Clarín 365, Club La Nación, etc), Lactario en la oficina, Licencia de paternidad/maternidad extendida', 'Mercado libre')



2024-05-03 20:54:59,400 INFO sqlalchemy.engine.Engine SELECT COUNT(1) FROM survey WHERE salary_monthly_NETO > 100000
2024-05-03 20:54:59,401 INFO sqlalchemy.engine.Engine [cached since 134.5s ago] ()
SELECT COUNT(1) FROM survey WHERE salary_monthly_NETO > 100000
(1657,)



2024-05-03 20:54:59,406 INFO sqlalchemy.engine.Engine SELECT AVG(salary_monthly_NETO) FROM survey
2024-05-03 20:54:59,406 INFO sqlalchemy.engine.Engine [cached since 115.1s ago] ()
SELECT AVG(salary_monthly_NETO) FROM survey
(94907.9491018188,)



2024-05-03 20:54:59,411 INFO sqlalchemy.engine.Engine SELECT AVG(salary_monthly_NETO) FROM survey WHERE profile_gender = 'Mujer'
2024-05-03 20:54:59,411 INFO sqlalchemy.engine.Engine [cached since 107.9s ago] ()
SELECT AVG(salary_monthly_NETO) FROM survey WHERE profile_gender = 'Mujer'
(73501.4144647577,)



2024-05-03 20:54:59,416 INFO sqlalchemy.engine.Engine SELECT AVG(salary_monthly_NETO) FROM survey WHERE profile_gender = 'Hombre'
2024-05-03 20:54:59,416 INFO sqlalchemy.engine.Engine [cached since 99.99s ago] ()
SELECT AVG(salary_monthly_NETO) FROM survey WHERE profile_gender = 'Hombre'
(98836.06355825246,)



2024-05-03 20:54:59,423 INFO sqlalchemy.engine.Engine SELECT profile_gender, AVG(salary_monthly_NETO) FROM survey GROUP BY profile_gender
2024-05-03 20:54:59,423 INFO sqlalchemy.engine.Engine [cached since 93.63s ago] ()
SELECT profile_gender, AVG(salary_monthly_NETO) FROM survey GROUP BY profile_gender
('Hombre', 98836.06355825246)
('Mujer', 73501.4144647577)
('Otros', 95441.35483870968)



2024-05-03 20:54:59,430 INFO sqlalchemy.engine.Engine
SELECT profile_gender, AVG(salary_monthly_NETO)
FROM survey
WHERE profile_years_experience > 5
GROUP BY profile_gender

2024-05-03 20:54:59,431 INFO sqlalchemy.engine.Engine [cached since 83.27s ago] ()

SELECT profile_gender, AVG(salary_monthly_NETO)
FROM survey
WHERE profile_years_experience > 5
GROUP BY profile_gender

('Hombre', 117715.70699665888)
('Mujer', 89313.04217633411)
('Otros', 128284.42857142857)



2024-05-03 20:54:59,439 INFO sqlalchemy.engine.Engine
SELECT profile_gender, work_province, AVG(salary_monthly_NETO) as avg_salary, MAX(salary_monthly_NETO), MIN(salary_monthly_NETO), COUNT(1)
FROM survey
WHERE profile_years_experience > 5
GROUP BY profile_gender, work_province
HAVING COUNT(*) > 10
ORDER BY  AVG(salary_monthly_NETO) DESC

2024-05-03 20:54:59,439 INFO sqlalchemy.engine.Engine [cached since 57.78s ago] ()

SELECT profile_gender, work_province, AVG(salary_monthly_NETO) as avg_salary, MAX(salary_monthly_NETO), MIN(salary_monthly_NETO), COUNT(1)
FROM survey
WHERE profile_years_experience > 5
GROUP BY profile_gender, work_province
HAVING COUNT(*) > 10
ORDER BY  AVG(salary_monthly_NETO) DESC

('Hombre', 'Entre Ríos', 129013.70651428572, 500000.0, 44.378, 35)
('Hombre', 'Provincia de Buenos Aires', 127820.81957528957, 1500000.0, 36.0, 269)
('Hombre', 'Córdoba', 125733.35200000001, 1030000.0, 30.0, 219)
('Otros', 'Ciudad Autónoma de Buenos Aires', 123082.72727272728, 312000.0, 40.0, 11)
('Hombre', 'Ciudad Autónoma de Buenos Aires', 121328.79508100556, 2080000.0, 1.0, 1855)
('Hombre', 'Mendoza', 118321.43636363637, 550000.0, 22000.0, 57)
('Hombre', 'Tucumán', 109104.375, 850000.0, 24000.0, 17)
('Hombre', 'GBA', 106638.98440677967, 800000.0, 27.0, 319)
('Mujer', 'Córdoba', 105162.63782608695, 400000.0, 2.0, 24)
('Hombre', 'Santa Fe', 104178.0093452381, 1000000.0, 144.0, 177)
('Mujer', 'Santa Fe', 96222.63296296296, 203000.0, 30000.0, 28)
('Hombre', 'Chubut', 94451.41176470589, 200000.0, 44.0, 17)
('Hombre', 'Neuquén', 94383.35399999999, 159000.0, 133.78799999999998, 22)
('Hombre', 'Río Negro', 93956.52173913043, 400000.0, 5000.0, 23)
('Mujer', 'Ciudad Autónoma de Buenos Aires', 90840.82966666669, 800000.0, 43.392, 322)
('Hombre', 'Jujuy', 87766.11111111111, 279000.0, 60.0, 19)
('Mujer', 'GBA', 75773.75, 265000.0, 18.0, 25)
('Mujer', 'Provincia de Buenos Aires', 67438.75, 150000.0, 34.0, 28)
('Hombre', 'Misiones', 55646.58823529412, 110000.0, 35.0, 17)



2024-05-03 20:54:59,447 INFO sqlalchemy.engine.Engine ROLLBACK

In [32]:
conn = engine.connect()

In [33]:
result = conn.execute(text('SELECT COUNT(1) FROM survey WHERE salary_monthly_NETO > 100000'))
print(result.all())

2024-05-03 20:55:15,596 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-03 20:55:15,597 INFO sqlalchemy.engine.Engine SELECT COUNT(1) FROM survey WHERE salary_monthly_NETO > 100000
2024-05-03 20:55:15,598 INFO sqlalchemy.engine.Engine [cached since 150.7s ago] ()
[(1657,)]